
  @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');


:root{

--soft-blue: hsl(215, 51%, 70%);
--cyan: hsl(178, 100%, 50%);
--main-bg: hsl(217, 54%, 11%);
--card-bg: hsl(216, 50%, 16%);
--line: hsl(215, 32%, 27%);
--white: hsl(0, 0%, 100%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    body{
        font-family: 'Outfit', sans-serif;
        font-size: 18px;
        background-color: var(--main-bg);
    
    }

.card{
    width: 350px;
    background-color: var(--card-bg);
    color: var(--soft-blue);
    padding: 25px 25px;
    border-radius: 15px;
    font-weight: 300px;
    line-height: 26px;
    margin: 50px auto;
    position: relative;
}

.card h2{
    font-weight: 600;
    color:var(--white);
    font-size: 22px;
    line-height: 28px;
    margin: 20px 0 10px 0;
}

.card h2:hover{
    color: var(--cyan);
}

.nft-card{
    width:100%;
}

.priceanddate{
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    margin: 15px 0;
    border-bottom: 1px solid var(--line);
    padding-bottom: 20px;
}

.price, .time{
    display:flex;
    align-items: center;
}

.price img, .time img {
    margin-right: 7px;
}

.price:first-child{
    color: var(--cyan);
}

.image-overlay{
    background-color: var(--cyan);
    position: absolute;
    width: 302px;
    height: 302px;
    top: 25px;
    left: 25px;
    border-radius: 8px;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-overlay:hover{
    opacity: 50.3%;
    transition: 1s;
}

.creator{
    display: flex;
    align-items: center;
}

.creator img{
    width: 50px;
    margin-right: 20px;
    border: 2px solid var(--white);
    border-radius: 100%;
}

.creator span{
    color:var(--white)
}

.creator span:hover{
    color:var(--cyan)
}